.form-control {
  margin-bottom: var(--space-lg);
}

.form-control > label:first-of-type {
  display: block;
  margin-bottom: var(--space-md);
  font-weight: bold;
}

input, select, textarea {
  font-size: 1em;
  padding: var(--space-sm);
  box-sizing: border-box;
}

.form-control > input,
.form-control > select,
.form-control > textarea {
  width: 100%;
}

.form-control .list {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.form-control label > input[type="radio"] {
  margin-right: var(--space-md);
}

.form-control .help-text {
  margin-top: var(--space-md);
  color: var(--color-gray);
}

/* player select */

.form-control .player-select-list {
  display: grid;
  gap: var(--space-md);
  grid-template-columns: 1fr 1fr;
}

.form-control .player-select-list .checkbox-label {
  display: block;
  cursor: pointer;
}

.form-control .player-select-list .checkbox-label > input {
  margin-right: var(--space-md);
}