.form-control {
  margin-bottom: var(--space-lg);
}

.form-control > label:first-of-type {
  display: block;
  margin-bottom: var(--space-md);
  font-weight: bold;
}

.form-control > .checkbox-label {
  display: block;
  margin-bottom: var(--space-sm);
  cursor: pointer;
  padding: var(--space-sm) 0;
}

.form-control > .checkbox-label > input {
  margin-right: var(--space-md);
}

input, select {
  font-size: 1em;
  padding: var(--space-sm)
}

.form-control .list {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.form-control label > input[type="radio"] {
  margin-right: var(--space-md);
}

.form-control .help-text {
  margin-top: var(--space-md);
  color: var(--color-gray);
}