header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  padding: var(--space-md) var(--space-lg);
}

header > nav {
  display: flex;
  width: 100%;
  padding: var(--space-md);
  max-width: var(--max-width);
  min-width: var(--min-width);

  border-radius: var(--border-radius);
  background-color: rgb(0 0 0 / 33%);
}

header > nav > .inner-links {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header > nav > a.record {
  background: linear-gradient(45deg, #686fff, #243adc);
  padding: 2px 14px;
  border-radius: 6px;
  color: white;
}