.player-color-none {
  color: #5f5f5f;
}

.player-color-green {
  color: #58a158;
}
.player-color-orange {
  color: #bd760b;
}
.player-color-blue {
  color: #5264ff;
}
.player-color-purple {
  color: #9b77af;
}
.player-color-red {
  color: #ad5c5c;
}
.player-color-yellow {
  color: #b9b978;
}

.player-scores > .dash {
  color: var(--color-gray);
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}