:root {

  --space-sm: 5px;
  --space-md: 10px;
  --space-lg: 30px;

  --brand-primary: #686fff;
  --color-gray: rgb(136, 136, 136);
  --dark-gray: #242424;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.75);
  background-color: var(--dark-gray);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 80px;
  cursor: pointer;
}

/* global elements */

a {
  font-weight: 500;
  color: var(--brand-primary);
  text-decoration: inherit;
}
a:hover {
  filter: brightness(130%);
}
a.active {
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

.highlight {
  color: var(--brand-primary);
}

.player-score-inputs {
  margin-bottom: var(--space-sm);
  display: grid;
  grid-template-columns: 60% 40%;
  gap: var(--space-md);
}

.bar-chart {
  margin-bottom: var(--space-md);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}