.stat-card {
  background-color: var(--dark-gray-accent);

  padding: var(--space-md);
  margin-bottom: var(--space-md);
  border-radius: var(--border-radius);

  display: flex;
  align-items: center;
}

.stat-card > div:first-child {
  width: 60px;
  text-align: right;
  padding-right: var(--space-md);

  /* font-weight: bold; */
  font-size: 1.3em;
}

.stat-card > div + div {
  color: var(--color-gray);
  white-space: nowrap;
  overflow: hidden;
}


.detailed-stat-card {
  background-color: var(--dark-gray-accent);

  padding: var(--space-md) var(--space-lg);
  margin-bottom: var(--space-md);
  border-radius: var(--border-radius);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.detailed-stat-card > div {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}
.detailed-stat-card > div > span:first-child {
  color: var(--color-gray);
  text-align: left;
}
.detailed-stat-card > div > span:last-child {
  /* font-size: 1.3em; */
  text-align: left;
}