.stat-card {
  height: 25px;
  background-color: var(--dark-gray-accent);

  padding: var(--space-md);
  margin-bottom: var(--space-md);
  border-radius: var(--border-radius);

  display: flex;
  align-items: center;
}

.stat-card > div:first-child {
  width: 60px;
  text-align: right;
  padding-right: var(--space-md);

  /* font-weight: bold; */
  font-size: 1.3em;
}

.stat-card > div + div {
  color: var(--color-gray);
  white-space: nowrap;
  overflow: hidden;
}


.stat-card-group > .stat-card {
  margin-bottom: 0;
  border-radius: 0;
}
.stat-card-group > .stat-card:first-of-type {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.stat-card-group > .stat-card:last-of-type {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.stat-card-group > .stat-card:not(:last-of-type) {
  border-bottom: 1px solid var(--dark-gray);
}