.stat-card {
  height: 25px;
  flex-grow: 1;
  background-color: var(--dark-gray-accent);

  padding: var(--space-md);
  margin-bottom: var(--space-md);
  border-radius: var(--border-radius);

  display: flex;
  align-items: center;
}

.stat-card > div:first-child {
  padding-right: var(--space-md);
  font-size: 1.3em;
}

.stat-card > div + div {
  color: var(--color-gray);
  white-space: nowrap;
  overflow: hidden;
}