.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}
.h-centered {
  justify-content: center;
}
.v-centered {
  align-items: center;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-sm {
  margin-bottom: var(--space-sm);
}
.mb-md {
  margin-bottom: var(--space-md);
}

.mt-0 {
  margin-top: 0;
}
.mt-sm {
  margin-top: var(--space-sm);
}
.mt-md {
  margin-top: var(--space-md);
}
.mt-lg {
  margin-top: var(--space-lg);
}
.grow {
  flex-grow: 1;
}