.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}
.h-centered {
  justify-content: center;
}
.v-centered {
  align-items: center;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-sm {
  margin-bottom: var(--space-sm);
}
.mb-md {
  margin-bottom: var(--space-md);
}
.mb-lg {
  margin-bottom: var(--space-lg);
}

.mt-0 {
  margin-top: 0;
}
.mt-sm {
  margin-top: var(--space-sm);
}
.mt-md {
  margin-top: var(--space-md);
}
.mt-lg {
  margin-top: var(--space-lg);
}
.-mt-lg {
  margin-top: calc(var(--space-lg) * -1);
}

.mr-sm {
  margin-right: var(--space-sm);
}
.mr-md {
  margin-right: var(--space-md);
}
.mr-lg {
  margin-right: var(--space-lg);
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.gap-sm {
  gap: var(--space-sm);
}
.gap-md {
  gap: var(--space-md);
}
.gap-lg {
  gap: var(--space-lg);
}

.grow {
  flex-grow: 1;
}